body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
input, button {
    padding: 10px;
    font-size: 16px;
}
#resultado {
    background-color: aliceblue;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 50vh;
    margin-left: auto; 
    margin-right: auto ;
}

#barra-container {
    width: 50vh;
    height: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
}

#barra {
    height: 100%;
    transition: width 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.senha-segura {
    color: green;
}

.senha-media {
    color: orange;
}

.senha-fraca {
    color: red;
}

.fraca {
    width: 33%;
    background: red;
}

.media {
    width: 66%;
    background: orange;
}

.forte {
    width: 100%;
    background: green;
}